body {
    font-family: 'Lato', sans-serif;
}

h1 {
    margin-bottom: 40px;
}

label {
    color: #333;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 100%;
    margin-left: 3px;
    }
.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;

}

.card{
	margin-left: 10px;
	margin-right: 10px;
}
.form-group{
    padding-bottom:20px ;
}
.banner{
    display: grid;
    grid-template-columns: auto 243px;
}
.post{
    display: grid;
    grid-template-columns: 243px auto ;
    grid-gap: 50px;
}
.footer{
    display: flex;
    justify-content:center;
}
.footer a{
    padding: 20px;
}
.contact-desc{
    letter-spacing: 1px;
}
    @media (max-width: 640px) {
        .haha{
            width: 100%;
        }
        .phuto{
            width: auto;
        }
        .post{
            display: grid;
            grid-template-columns: 1fr;
        }
        .post-img img{
            margin: 0 auto;
            width: 100%;
        }
    }
