.banner{
    display: grid;
    grid-template-columns: auto 243px;
}
.post{
    display: grid;
    grid-template-columns: 243px auto ;
    grid-gap: 50px;
}
.footer{
    display: flex;
    justify-content: center;
}
.footer a{
    padding: 20px;
}
.contact-desc{
    letter-spacing: 1px;
}
@media (max-width: 640px) {
    .haha{
        width: 100%;
    }
    .hi2 img{
        width: 100%;
    }
}