<div class="container">
<form action="" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="exampleInputName1" class="form-label">Name</label>
        <input type="name" class="form-control" [(ngModel)]="user.name" placeholder="Name" name="name">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="text" class="form-control" [(ngModel)]="user.email" placeholder="Email" name="email">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control"  [(ngModel)]="user.password" placeholder="Password" name="password">  
    </div>
    <button class="btn btn-danger">Signup</button>
</form>
</div>
